<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>com.madeawkward.beam.displaypack</string>
		<key>icon</key>
		<string>display-options</string>
		<key>heading</key>
		<string>shop-product-display-pack-heading</string>
		<key>subheading</key>
		<string>shop-product-display-pack-subheading</string>
		<key>description</key>
		<string>shop-product-display-pack-description</string>
		<key>features</key>
		<array>
			<dict>
				<key>heading</key>
				<string>shop-product-display-pack-feature-mediaview-heading</string>
				<key>subheading</key>
				<string>shop-product-display-pack-feature-mediaview-subheading</string>
				<key>icon</key>
				<string>store_feature_mediaview</string>
			</dict>
			<dict>
				<key>heading</key>
				<string>shop-product-display-pack-feature-night-mode-heading</string>
				<key>subheading</key>
				<string>shop-product-display-pack-feature-night-mode-subheading</string>
				<key>icon</key>
				<string>store_feature_darkmode</string>
			</dict>
			<dict>
				<key>heading</key>
				<string>shop-product-display-pack-feature-autoplaying-gifs-heading</string>
				<key>subheading</key>
				<string>shop-product-display-pack-feature-autoplaying-gifs-subheading</string>
				<key>icon</key>
				<string>store_feature_autoplaying_gifs</string>
			</dict>
			<dict>
				<key>heading</key>
				<string>shop-product-display-pack-feature-thumbnail-mode-heading</string>
				<key>subheading</key>
				<string>shop-product-display-pack-feature-thumbnail-mode-subheading</string>
				<key>icon</key>
				<string>store_feature_thumbnailmode</string>
			</dict>
			<dict>
				<key>heading</key>
				<string>shop-product-display-pack-feature-meta-data-heading</string>
				<key>subheading</key>
				<string>shop-product-display-pack-feature-meta-data-subheading</string>
				<key>icon</key>
				<string>store_feature_metadata</string>
			</dict>
		</array>
		<key>previews</key>
		<array>
			<dict>
				<key>image</key>
				<string>display-preview4</string>
			</dict>
			<dict>
				<key>image</key>
				<string>display-preview2</string>
			</dict>
			<dict>
				<key>image</key>
				<string>display-preview5</string>
			</dict>
			<dict>
				<key>image</key>
				<string>display-preview3</string>
			</dict>
			<dict>
				<key>image</key>
				<string>display-preview1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>com.madeawkward.beam.identitypack</string>
		<key>icon</key>
		<string>identity-pack</string>
		<key>heading</key>
		<string>shop-product-identity-pack-heading</string>
		<key>subheading</key>
		<string>shop-product-identity-pack-subheading</string>
		<key>description</key>
		<string>shop-product-identity-pack-description</string>
		<key>features</key>
		<array>
			<dict>
				<key>icon</key>
				<string>store_feature_multiple_accounts</string>
				<key>heading</key>
				<string>shop-product-identity-pack-feature-multiple-accounts-heading</string>
				<key>subheading</key>
				<string>shop-product-identity-pack-feature-multiple-accounts-subheading</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>store_feature_passcode_lock</string>
				<key>heading</key>
				<string>shop-product-identity-pack-feature-passcode-lock-heading</string>
				<key>subheading</key>
				<string>shop-product-identity-pack-feature-passcode-lock-subheading</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>store_feature_touch_id</string>
				<key>heading</key>
				<string>shop-product-identity-pack-feature-touch-id-heading</string>
				<key>subheading</key>
				<string>shop-product-identity-pack-feature-touch-id-subheading</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>store_feature_private_mode</string>
				<key>heading</key>
				<string>shop-product-identity-pack-feature-private-mode-heading</string>
				<key>subheading</key>
				<string>shop-product-identity-pack-feature-private-mode-subheading</string>
			</dict>
		</array>
		<key>previews</key>
		<array>
			<dict>
				<key>image</key>
				<string>identity-preview1</string>
			</dict>
			<dict>
				<key>image</key>
				<string>identity-preview2</string>
			</dict>
			<dict>
				<key>image</key>
				<string>identity-preview3</string>
			</dict>
			<dict>
				<key>image</key>
				<string>identity-preview4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>com.madeawkward.beam.discoverpack</string>
		<key>icon</key>
		<string>discover-pack</string>
		<key>heading</key>
		<string>shop-product-discover-pack-heading</string>
		<key>subheading</key>
		<string>shop-product-discover-pack-subheading</string>
	</dict>
</array>
</plist>
